/*
!README.md
!.gitignore

!/C3
/C3/*
!/C3/dossier_culture/
/C3/dossier_culture/*
!/C3/dossier_culture/culture_ble.tex
!/C3/dossier_culture/culture_ble.pdf

!/Projet
/Projet/*
!/Projet/REA_projet
/Projet/REA_projet/*
!/Projet/REA_projet/projet1.tex
!/Projet/REA_projet/projet1.pdf

