/*
!README.md
!.gitignore

!/C3
/C3/*
!/C3/dossier_culture/
/C3/dossier_culture/*
!/C3/dossier_culture/culture_ble.tex
!/C3/dossier_culture/culture_ble.pdf

!/C3/dossier_culture/dossier_itk.tex
!/C3/dossier_culture/dossier_itk.pdf

!/Projet
/Projet/*
!/Projet/REA_projet
/Projet/REA_projet/*
!/Projet/REA_projet/projet1.tex
!/Projet/REA_projet/projet1.pdf
!/Projet/REA_projet/projet2.tex
!/Projet/REA_projet/projet2.pdf
!/Projet/REA_projet/projet.tex
!/Projet/REA_projet/projet.pdf

!/C5_valorisation
/C5_valorisation/*
!/C5_valorisation/C52/
/C5_valorisation/C52/*
!/C5_valorisation/C52/REA_marche_prod.pdf
!/C5_valorisation/C52/REA_marche_prod.svg
!/C5_valorisation/C52/logo_cfppa.jpg
